@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&family=Trade+Winds&display=swap');

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  font-family: "Orbitron", serif;
}

.time {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  color: aliceblue;
  font-size: 2rem;
  background: #87cdff33;
  padding-top: 5px;
  text-align: center;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 35%;
  left: 0;
  width: 100%;
  color: aliceblue;
  font-size: 4rem;
  background: #87cdff33;
  padding-top: 10px;
  padding-bottom: 80px;
  pointer-events: auto;
  cursor: pointer;
  flex-direction: column; 
}

.text-restart {
  position: absolute;
  top: 80px;
  color: aliceblue;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

a {
  color: rgb(241, 210, 13); 
  text-decoration: none; 
  font-weight: bold; 
  transition: color 0.3s ease, transform 0.3s ease; 
}

a:hover {
  color: rgb(14, 171, 223); 
  transform: scale(1.1); 
}

.controls {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
}

.controls .raw {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  background: #65788062;
}

.controls .key.large {
  width: 144px;
}

.controls .key.active {
  background: #5cbae699;
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: grid;
  place-items: center;
  background-color: rgb(1, 7, 38);
  background-image: linear-gradient(0deg, #2d0c6a 10%, #06032e 60%);
  text-align: center;
}

.loadingScreen--hidden {
  animation: fade-out 0.5s ease-in-out forwards 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loadingScreen-title {
  font-family: "Orbitron", serif;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin: 0;
}

.progress-container {
  width: 100%;
  height: 1rem;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 100%;
  -webkit-mask:
    radial-gradient(circle closest-side,#000 94%,#0000) 0 0/25% 100%,
    linear-gradient(#000 0 0) center/calc(100% - 12px) calc(100% - 12px) no-repeat;
  background:
   linear-gradient(#d5cf17 0 0) 0/0% no-repeat
   #ddd;
  animation: l7 2s infinite linear;
}

@keyframes l7 {
    100% {background-size:100%}
}
